/Esercizi_casa/Esercitazione_riepilogo/nbproject/private/
/Esercizi_casa/EsercitazioneRiepilogo/nbproject/private/
/Esercizi_casa/EsercitazioneRiepilogo/build/
/EsercitazioneRiepilogo/nbproject/private/
/EsercitazioneRiepilogo/build/
/Esercizi_casa/EsercitazioneRiepilogo2/build/
/Esercizi_casa/EsercitazioneRiepilogo2/nbproject/private/
/Esercitazione_veicoli/nbproject/private/
/Esercitazione_veicoli/build/
/Animali/nbproject/private/
/Animali/build/
